@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');
*{
    padding: 0;
    margin: 0;
}

.body{
     background: url("../img/bg3.jpg");
    min-height: 100vh;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

#box{
    position: absolute;
    top: 9px;
    left: 1010px;
    height: 150px;
    width: 330px;
    border: 3px solid black;
    /* background-color: rgb(209, 84, 12); */
    background-color: rgb(224, 93, 16);
    border-radius: 10px;
}

#box2{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    top: 300px;
    left: 1010px;
    height: 150px;
    width: 330px;
    border: 3px solid black;
    /* background-color: rgb(209, 84, 12); */
     background-color: rgb(92, 60, 38); 
    /* display: none; */
    border-radius: 10px;
    color: rgb(238, 222, 6);
}
#box:hover{
    background-color: rgb(252, 96, 6);

}

#scoreBox{
    position: absolute;
    top: 9px;
    left: 10px;
    font-size: 39px;
    font-weight: bold;
    font-family: 'New Tegomin', serif;
}

#hiscoreBox{
    position: absolute;
    top: 59px;
    left: 10px;
    font-size: 39px;
    font-weight: bold;
    font-family: 'New Tegomin', serif;
}


#board{
      background: linear-gradient(#292727, rgb(131, 131, 119)); 
    /* background: linear-gradient(rgb(170, 236, 170), rgb(236, 236, 167));
      */
    /* background-color: #292727; */
    width: 90vmin;
    height: 92vmin;
    border: 4px solid black;
    display: grid;
    grid-template-rows: repeat(18, 1fr);
    grid-template-columns: repeat(18, 1fr);
}

.head{
    background-color: rgb(32, 13, 13);
    border: 2px solid rgb(34, 4, 34); 
    transform: scale(1.02);
    border-radius: 9px;
}

.snake{
    background-color: rgb(32, 13, 13);
    background: linear-gradient(rgb(15, 85, 13), rgb(21, 20, 77));
    
    border: .25vmin solid wheat;
    border-radius: 11px;
}

.food{
     background: linear-gradient(red, purple); 
    /* display: flex;
    justify-content: center;
    align-items: center; */
    border: .25vmin solid black;
    /* background: url("../img/icon1.png"); */
    
    /* background-size: 100vw 100vh; */

    border-radius: 8px;
}
#h11{
    
    animation: scale-animation 2s ease 0.5s infinite alternate-reverse;
}
@keyframes scale-animation {
    0%{
        color: rgb(255, 238, 2);
    }
    25%{
        transform: scale(1.1);
    }
    50%{
        color:rgb(4, 255, 221);
    }
    75%{
        transform: scale(1.0);
    }
    100%{
        
        color:rgb(145, 255, 2);
    }
}